.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  display: 'flex';
},
.details {
  display: 'flex';
  flexDirection: 'column';
},
.content {
  flex: '1 0 auto';
}
.cover {
  width: 151;
}
.controls {
  display: 'flex';
  alignItems: 'center';
  paddingLeft: theme.spacing.unit;
  paddingBottom: theme.spacing.unit;
}
.playIcon {
  height: 38;
  width: 38;
}
.media: {
    /* ⚠️ object-fit is not supported by IE11. */
    objectFit: 'cover';
}
.textField: {
   marginLeft: theme.spacing.unit;
   marginRight: theme.spacing.unit;
}
.root {
   flexGrow: 1;
}
